<header class="main-header">
    <h1 class="main-header__title" routerLink="">
        <span class="main-header__title--blue">Proway</span><span class="main-header__title--orange">Computers</span>
    </h1>
    <div class="container-menu">
        <nav class="main-header__menu">
            <ul>
                <li>
                    <a routerLink="produtos">Produtos</a>
                </li>
                <li>
                    <a routerLink="carrinho">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <span class="badge-carrinho">{{ carrinhoService.obtemCarrinho().length }}</span>
                    </a>
                </li>
                <li>
                    <a routerLink="contato">Contato</a>
                </li>
            </ul>
        </nav>
    </div>
    <app-barra-pesquisa></app-barra-pesquisa>
</header>
